# Environments
.env
.venv/
venv/

# Database / Local Storage
alerts_db.json
scans_db.json

# Credentials / Keys
*key.json
credentials/

# System / OS
.DS_Store
Thumbs.db

# Project Writeups / Hackathon drafts
devpost_project_writeup.md
project_writeup.md
